

<div class='demo-app'>

    <h2>Events</h2>

<div *ngIf="isFormVisible">
    <label for="description">Description: </label>
    <input type="text" name="description" [(ngModel)]="currentIncident.description" required>
    <br>
    <label for="iDate">Initial Date: </label>
    <input type="date" name="iDate" [(ngModel)]="currentIncident.iDate" required>
    <label for="fDate">Initial Date: </label>
    <input type="date" name="fDate" [(ngModel)]="currentIncident.fDate" required>
    <br>
    <button (click)="save()">Save</button>
</div>

<button (click)="isFormVisible = true">New Event</button>

<table>
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Initial Date</th>
        <th>Final Date</th>
    </tr>
    <tr *ngFor="let incident of incidents['incidents']">
        <td>{{incident.id}}</td>
        <td>{{incident.description}}</td>
        <td>{{incident.iDate}}</td>
        <td>{{incident.fDate}}</td>
        <td>
            <button (click)="delete(incident.id)">Delete</button>
        </td>
    </tr>
</table>

      <full-calendar
        
        [options]='calendarOptions'
      ></full-calendar>
    
  
  </div>